# Data for development
docs/notebooks/comparative_eval/results/reference_signatures/

# Dev files and local backups too large for github
comparative_eval/assets_for_quantitative_results/

Meta
doc
# Resilio Sync
.sync

# MAC
*Icon*
.DS_Store
# Rstudio projects
*Rproj
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.pyc
*.egg-info/
.installed.cfg
*.egg
.Rproj.user
.ipynb_checkpoints
.Rhistory
.idea/

*/_build

init_*
model_*.p
samples_*.p
*.h5ad
histo_W_*.png
docs/notebooks/results
./notebooks/
